.uploadbox{
  width: 300px;
  max-width: 100%;
  height: 300px;
  background-color: #edece8;
  background-image: url('upload.png');
  border: 2px dashed gray;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;   
}

::file-selector-button {
  display: none;
}

.uploadbox:hover{
  border-color: black;
}